:root {
    --royal-blue-dark: #00296bff;
    --dark-cornflower-blue: #003f88ff;
    --usafa-blue: #00509dff;
    --mikado-yellow: #fdc500ff;
    --cyber-yellow: #ffd500ff;
}


body {
    width: 100%;
    padding: 1cm;
    box-sizing: border-box;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
            "head head"
            "nav  main"
            "nav  foot";
    grid-template-rows: 6cm 1fr 3cm;
    grid-template-columns: 1fr 3fr;
    font-family: Roboto, sans-serif;
}

body>header {
    display: inline-grid;
    grid-area: head;
}

body>nav {
    grid-area: nav;
}

body>main {
    grid-area: main;
}

body>footer {
    grid-area: foot;
}


.ContribList a:after { content: ", " }