:root {
    --royal-blue-dark: #00296bff;
    --dark-cornflower-blue: #003f88ff;
    --usafa-blue: #00509dff;
    --mikado-yellow: #fdc500ff;
    --cyber-yellow: #ffd500ff;
}

.NavSection:not(.Shown) *:not(.Title) {
    display: none;
}

.NavSection {
    border: 1mm solid var(--mikado-yellow);
    border-radius: 2mm;
    padding: 0mm 2mm;
    font-size: 18pt;
    margin: 5px;
    background: whitesmoke;
}

.NavSection.Shown>.Title {
    background: var(--cyber-yellow);
    padding: 0 3px;
    margin: 0 -7px;
    border-radius: 2mm 2mm 0 0;
}

.NavSection .NavSection.Shown>.Title {
    background: var(--cyber-yellow);
    margin: 0  -20px 0 -7px;
    border-radius: 0;
}

.NavSection .NavSection {
    border: none;
    border-left: 1mm solid var(--mikado-yellow);
    border-radius: 0;
    padding: 0mm 2mm;
    font-size: 18pt;
    margin: 5px;
    background: whitesmoke;
}

