:root {
    --royal-blue-dark: #00296bff;
    --dark-cornflower-blue: #003f88ff;
    --usafa-blue: #00509dff;
    --mikado-yellow: #fdc500ff;
    --cyber-yellow: #ffd500ff;
}

nav {
    padding-right: 2cm;
}

.ProductInfo header {
    background: center url("img/MilgBG.png");
    background-size: cover;
    height: 5.5cm;
}

.ProductInfo header h1 {
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    display: inline-block;
    top: 2cm;
    font-size: 2cm;
    margin: 2mm;
}

.ProductInfo h1 {
    color: var(--dark-cornflower-blue);
}

.TimeLine {
    display: block;
    margin: 2mm auto;
    max-width: calc(100% - 3cm);
    max-height: 5cm;
}

.ImaginaryTable {
    display: flex;
    justify-content: space-around;
    font-size: 18pt;
}

.ImaginaryTable>div {
    flex: 0 0 8cm;
    margin: auto;
    height: 8cm;
    text-align: center;
}

.ImaginaryTable img {
    display: block;
    background: whitesmoke;
    border: 5px solid var(--royal-blue-dark);
    border-radius: 50%;
    max-width: 5cm;
    max-height: 5cm;
    margin: auto;
}

.GoodBad {
    display: grid;
    grid-template: "good bad";
    grid-template-columns: 1fr 1fr;
    grid-gap: 1cm;
}

.GoodBad>.Good {
    grid-area: good;
    border: 3mm solid #40ff10;
    border-radius: 1cm;
}

.GoodBad .OK {
    grid-area: good;
    background: #40ff10;
    border-radius: 50%;
    width: 15mm;
    height: 15mm;
    transform: translate(-4mm, -4mm);
    font-weight: bolder;
    font-size: 12mm;
    color: #005500;
}

.GoodBad>.Bad {
    grid-area: bad;
    border: 3mm solid #fd1010;
    border-radius: 1cm;
}

.GoodBad .NotOK {
    background: #fd1010;
    border-radius: 50%;
    width: 15mm;
    height: 15mm;
    transform: translate(-4mm, -4mm);
    font-weight: bolder;
    font-size: 12mm;
    color: #6c0303;
}

.GAL {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.GAL img {
    max-width: 6cm;
    flex: 0 0 6cm;
    margin: 5mm auto;
}

.ProductInfo h1 {
    font-size: 24pt;
}
